@font-face {
    font-family: 'Pixel Gosub';
    src: url("./fonts/Pixel Gosub.ttf");
}

:root {
    --size1: 0.7rem;
    --size2: 1.5rem;
    --size3: 2rem;
}

body {
    margin: 0;
    padding: var(--size1);
    box-sizing: border-box;
    background:  url("./images/background.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100vh;
    font-family: 'Pixel Gosub', Arial, Helvetica, sans-serif;
}

/* COMMON */

.hidden {
    display: none;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) { 
    .main-container {
        max-width: 600px;
    }
}

.centered-div {
    margin-left: auto;
    margin-right: auto;
}

.pretty-container {
    background: rgba(255,255,255,0.7);
    padding: var(--size2);
    border-radius: var(--size2);
    max-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-up {
    display: inherit;
    cursor: pointer;
}

.button-down{
    display: none;
    cursor: pointer;
}

.button-up:active {
    display: none;
}

.button-up:active + .button-down {
    display: inherit;
}

.button-up {
    display: inherit;
}

.button-down{
    display: none;
}

.button-up:active {
    display: none;
}

.button-up:active + .button-down {
    display: inherit;
}

/* NumberSelector */

.number-selector-title {
    font-size: var(--size1);
}

.number-selector-number {
    margin-left: var(--size1);
    margin-right: var(--size1);
    font-size: var(--size2);
    width: var(--size3);
    text-align: center;
}

.number-selector-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: var(--size1);
    margin-bottom: var(--size1);
}

.config-form-number {
    margin-left: var(--size1);
    margin-right: var(--size1);
    font-size: var(--size2);
}

.config-form-img-validate {
    width: 20px;
}

.config-form-img-minus {
    width: 15px;
}

.config-form-img-plus {
    width: 15px;
}

.config-form-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: var(--size1);
    margin-bottom: var(--size1);
}

.number-selector-img {
    width: 30px;
}

/* CONFIG FORM VIEW */

.config-form-img-validate {
    width: 40px;
}

.config-form-view-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* GAME VIEW */

.game-view-div {
    background: rgba(255,255,255,0.7);
}

/* ROLL INPUT */

.rollinput-view-img {
    width: 30px;
}

.rollinput-view-div {
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.rollinput-view-text {
    margin-right: var(--size1);
}

/* PLAYER VIEW */

.player-view {
    display: flexbox;
    flex-direction: row;
    justify-content: flex-start;
}
.player-view-info {
    font-size: var(--size1);
}
.player-view-history {
    display: flexbox;
    flex-direction: column;
    flex-grow: 1;
}
.player-view-turns {
    width: 100%;
}
.player-view-scores {
    width: 100%;
}

/* CONFETTIS */

.confetti-view-container {
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.confetti-view-confetti {
    left: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    transform-origin: left top;
    animation: confetti 5s ease-in-out -2s infinite;
}

@keyframes confetti {
    0% {
      transform: rotateZ(15deg) rotateY(0deg) translate(0, 0);
    }
    25% {
      transform: rotateZ(5deg) rotateY(360deg) translate(-5vw, 20vh);
    }
    50% {
      transform: rotateZ(15deg) rotateY(720deg) translate(5vw, 60vh);
    }
    75% {
      transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw, 80vh);
    }
    100% {
      transform: rotateZ(15deg) rotateY(1440deg) translate(10vw, 110vh);
    }
}

.confetti-view-confetti:nth-child(1) {
    left: 10%;
    animation-delay: 0;
    background-color: #fc0120;
}

.confetti-view-confetti:nth-child(2) {
    left: 20%;
    animation-delay: -5s;
    background-color: #8257e6;
}

.confetti-view-confetti:nth-child(3) {
    left: 30%;
    animation-delay: -3s;
    background-color: #ffbf4d;
}

.confetti-view-confetti:nth-child(4) {
    left: 40%;
    animation-delay: -2.5s;
    background-color: #fe5d7a;
}

.confetti-view-confetti:nth-child(5) {
    left: 50%;
    animation-delay: -4s;
    background-color: #45ec9c;
}

.confetti-view-confetti:nth-child(6) {
    left: 60%;
    animation-delay: -6s;
    background-color: #f6e327;
}

.confetti-view-confetti:nth-child(7) {
    left: 70%;
    animation-delay: -1.5s;
    background-color: #f769ce;
}
  
.confetti-view-confetti:nth-child(8) {
    left: 80%;
    animation-delay: -2s;
    background-color: #007de7;
}
  
.confetti-view-confetti:nth-child(9) {
    left: 90%;
    animation-delay: -3.5s;
    background-color: #63b4fc;
}
  
.confetti-view-confetti:nth-child(10) {
    left: 100%;
    animation-delay: -2.5s;
    background-color: #f9c4ea;
}




/* LeaderBoardView and PlayerView */

table {
    width: 100%;
    height: 100%;
}

th, td {
    border: 1px solid black;
}

td {
    text-align: center;
    width: 9px;
    height: 30px;
}

.active-player {
    color: red;
}

.waiting-player {
    color : black;
}

.winner {
    color : green;
}

.next-cell {
    background-color: rgba(81, 28, 99, 0.4);
}

.player-div {
    overflow: scroll;
}