:root {
    --size1: 1rem;
    --size2: 2rem;
    --size3: 3rem;
}

body {
    margin: 0;
    padding: var(--size1);
    box-sizing: border-box;
    background:  url("./images/background.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100vh;
}

/* COMMON */


.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 600px) { 
    .main-container {
        max-width: 600px;
    }
}

.centered-div {
    margin-left: auto;
    margin-right: auto;
}

.pretty-container {
    background: rgba(255,255,255,0.7);
    padding: var(--size2);
    border-radius: var(--size2);
}

/* CONFIG FORM VIEW */

.config-form-view-div {
}

.config-form-view-title {
    font-size: var(--size2);
}

/* GAME VIEW */

.game-view-div {
    background: rgba(255,255,255,0.7);
}

/* PLAYER VIEW */

.player-view {
    display: flexbox;
    flex-direction: row;
    justify-content: flex-start;
}
.player-view-info {
    font-size: +var(--size1);
}
.player-view-history {
    display: flexbox;
    flex-direction: column;
    flex-grow: 1;
}
.player-view-turns {
    width: 100%;
}
.player-view-scores {
    width: 100%;
}